*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

.body{
    font-family: 'Roboto', 'Arial', 'sans-serif';
    color:#0F0F0F;
    font-size: 14px;
}

.img-canal{
    width: 36px;
    border-radius: 50%;

}

.caixa-textos{
    font-size: 12px;
    display: flex; 
    flex-direction: column;
    gap:6px;

}
.caixa-titulo{
    font-weight: 700;
    font-size: 16px;
    color:#0F0F0F;
}

.caixa-descricao{
    color: #696969;
    
}
.img-capa{
    width: 320px;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.caixa-info{
    display: flex;
    gap:10px;
    align-items: flex-start;
    
}
.caixa-video{
    width: 320px;
    
}
.caixa-videos{
    display: flex;
    column-gap:20px;
    row-gap:50px;
    flex-wrap: wrap;

}
.img_aovivo{
    width: 20px;
    height: 20px;
    fill:#F8F8FF;
    
}
.caixa-aovivo{
    display: flex;
    gap: 6px;
    background-color: #FF0000;
    padding: 2px 8px 1px 2px;
    border-radius: 3px;
    color: #F8F8FF;
    width: max-content;
    fill:#F8F8FF;

}

a{
     text-decoration: none; 
}

.conteudo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.categorias{
    display: flex;
    gap:8px;
}

.categoria{
    font-size: inherit;
    font-family: inherit;
    border-radius: 8px;
    background-color: #0000000d;
    padding: 6px 10px 6px;
    border: none;
    cursor: pointer;
}
.categoria.selecionado{
   background-color: #0F0F0F;
   color:#F8F8FF;
}

.principal{
    display: flex;
    gap:30px
}
.menu-lateral{
    min-width: 240px;
    
}

.icone{
    width: 20px;
    height: 20px;
}
.menu-bloco{
    border-bottom:1px solid rgb(202, 195, 195);
    padding: 12px;
}
.bloco-item{
    display: flex;
    border-radius: 12px;
    padding: 10px 20px;
    align-items: center;
    gap:20px;
    color:#0F0F0F;
    margin-left: 15px;
    
}
.bloco-item.selecionado{
    background-color: #0000000d ;

}